@import "tailwindcss";

@theme {
  --font-primary: "Orbitron", sans-serif;
  --font-mono: "Courier New", monospace;
}

@layer base {
  html, body {
    @apply bg-black text-white;
    margin: 0;
    padding: 0;
  }
}
